.UpArrowDiv {
  margin: auto;
  height: 110px;
  color: white;
  margin-bottom: 40px;
  text-align: center;
  border: 6px solid red;
  border-right: 3px;
  border-left: 3px;
}

.AudioPanel {
  text-align: center;
  margin-bottom: 20px;
}

.Title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.DownArrowDiv {
  margin: auto;
  height: 110px;
  color: white;
  text-align: center;
  margin-top: 40px;
  border: 6px solid red;
  border-right: 3px;
  border-left: 3px;
}

.LeftArrowDiv {
  border: 6px solid red;
  color: white;
  text-align: center;
}

.RightArrowDiv {
  border: 6px solid red;
  color: white;
  text-align: center;
}

.TextbookDiv {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.TextArea {
  margin-top: 15px;
  margin-bottom: 15px;
}
