.UpArrowDiv {
  width: 100%;
  margin: auto;
  height: 110px;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  border: 6px solid red;
}

.DownArrowDiv {
  width: 100%;
  margin: auto;
  height: 110px;
  color: white;
  text-align: center;
  margin-top: 50px;
  border: 6px solid red;
}

.LeftArrowDiv {
  background-color: black;
  color: white;
}

.RightArrowDiv {
  background-color: black;
  color: white;
}

.TextbookDiv {
  width: 100%;
  text-align: center;
}
